:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.boards {
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // grid-auto-flow: row;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

// .wrap {
  // grid-template-columns: repeat(auto-fill, 280px);
// }
