.user-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
}

@media screen and (min-width: 600px) {
    .hide {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    button.login, button.signup {
        display: none;
    }
}
