<mat-toolbar color="primary" class="justify-between items-center h-20">
  <a mat-button [routerLink]="['/']" class="text-2xl">PMA</a>
  <div class="flex items-center justify-end gap-[10px] w-full">
    <!-- <mat-form-field> -->
    <form class="search-block" [ngClass]="{ 'search-block-w-full': searchMode }">
      <input matInput
        type="search"
        *ngIf="app.isLoggedIn"
        #searchInput
        [formControl]="searchFormControl"
        [matAutocomplete]="auto"
        class="search text-black rounded px-3 h-10 text-base font-normal"
        [ngClass]="{ 'full-width': searchMode, 'input-search-hide': !searchMode }"
        [placeholder]="'INPUTS.PLACEHOLDERS.SEARCH' | translate"
        (input)="onSearchInputChange($event)"
      />
      <!-- <mat-nav-list *ngIf="searchResults.length > 0">
        <mat-list-item *ngFor="let task of searchResults">
          <span matListItemTitle>{{ task.title }}</span>
          <span matListItemLine>{{ task.description }}</span>
        </mat-list-item>
      </mat-nav-list> -->
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container *ngFor="let task of searchResults; let index = index">
          <mat-option class="max-w-full w-full" (click)="searchItemSelected(index)">
            <div class="search-item-wrap p-[10px] flex flex-col gap-[10px]">
              <div class="m-0 text-base">{{ task.title }}</div>
              <div class="m-0 text-sm overflow-hidden whitespace-nowrap text-ellipsis max-w-full">{{ task.description !== ' ' ? task.description : '-' }}</div>
            </div>
          </mat-option>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-autocomplete>
    </form >
      <!-- <mat-icon matPrefix color="primary">search</mat-icon>
    </mat-form-field> -->
    <button
      mat-mini-fab
      color="primary"
      *ngIf="app.isLoggedIn"
      [ngClass]="{ 'button-search-hide': !searchMode }"
      onclick="this.blur()"
      (click)="toggleSearchMode()"
      [matTooltip]="(searchMode ? 'HEADER.BUTTON.SEARCH_CLOSE' : 'HEADER.BUTTON.SEARCH') | translate">
      <mat-icon>{{ searchMode ? 'close' : 'search' }}</mat-icon>
    </button>
    <ng-container *ngIf="!searchMode">
      <button
        mat-mini-fab
        #createBoardBtn
        color="primary"
        *ngIf="router.url === '/boards'"
        onclick="this.blur()"
        (click)="createBoard()"
        [matTooltip]="'HEADER.BUTTON.NEW_BOARD' | translate">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        *ngIf="router.url.includes('/boards/')"
        onclick="this.blur()"
        (click)="createColumn()"
        [matTooltip]="'HEADER.BUTTON.NEW_COLUMN' | translate">
        <mat-icon>post_add</mat-icon>
      </button>
      <button
        mat-mini-fab color="primary"
        *ngIf="router.url !== '/boards' && app.isLoggedIn"
        [routerLink]="['/boards']"
        onclick="this.blur()"
        [matTooltip]="'HEADER.BUTTON.BOARDS' | translate">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-button-toggle-group class="lang-switcher h-10 text-base items-center" name="lang" aria-label="Choose language">
        <mat-button-toggle
          [checked]="lang === translate.currentLang"
          (click)="app.setLanguage(i)"
          *ngFor="let lang of app.langList; let i = index"
          [value]="i"
        >
          {{ lang | uppercase }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
    <button mat-button *ngIf="!app.isLoggedIn" (click)="app.openSignUpPage()" class="signup">{{ 'HEADER.BUTTON.SIGNUP' | translate }}</button>
    <button mat-raised-button *ngIf="!app.isLoggedIn" (click)="auth()" class="login" color="accent">{{ 'HEADER.BUTTON.LOGIN' | translate }}</button>

    <mat-menu #appMenu="matMenu">
      <div mat-menu-item *ngIf="app.isLoggedIn" class="m-4">
        <p class="mat-headline-6">{{ (app.userData$ | async)?.name }}</p>
        <p class="mat-body text-gray-500">{{ (app.userData$ | async)?.login }}</p>
      </div>
      <button mat-menu-item *ngIf="app.isLoggedIn" (click)="app.openEditProfilePage()">{{ 'HEADER.BUTTON.PROFILE_PAGE' | translate }}</button>
      <!-- <mat-divider *ngIf="app.isLoggedIn"></mat-divider> -->
      <button mat-menu-item *ngIf="!app.isLoggedIn" (click)="app.openSignUpPage()">{{ 'HEADER.BUTTON.SIGNUP' | translate }}</button>
      <button mat-menu-item class="lang-menu" [matMenuTriggerFor]="langMenu">{{ 'HEADER.BUTTON.LANGUAGES' | translate }}</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="auth()" >{{ app.isLoggedIn ? ('HEADER.BUTTON.LOGOUT' | translate) : ('HEADER.BUTTON.LOGIN' | translate) }}</button>
    </mat-menu>

    <mat-menu #langMenu="matMenu">
      <!-- <mat-radio-group aria-label="Choose language">
        <button mat-menu-item (click)="app.setLanguage(i)" *ngFor="let lang of app.langList; let i = index" [value]="i">
          <mat-radio-button [checked]="lang === translate.currentLang" [value]="i">{{ 'LANGUAGES.' + (lang | uppercase) | translate }}</mat-radio-button>
        </button>
      </mat-radio-group> -->
      <button
        mat-menu-item
        *ngFor="let lang of app.langList; let i = index"
        (click)="app.setLanguage(i)"
      >
        <mat-checkbox [checked]="lang === translate.currentLang">{{ 'LANGUAGES.' + (lang | uppercase) | translate }}</mat-checkbox>
      </button>
    </mat-menu>

    <button mat-icon-button [ngClass]="{ 'hide': searchMode, 'menu-button-hide': !app.isLoggedIn}" aria-label="Menu" [matMenuTriggerFor]="appMenu">
      <mat-icon [class.scale-150]="app.isLoggedIn">{{ app.isLoggedIn ? 'person' : 'more_vert' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
