<mat-toolbar color="primary" class="justify-between items-center h-20">
  <a [routerLink]="['/']" class="ml-[5px]"><img class="h-[35px]" src="/assets/images/logo.svg" alt=""></a>
  <div class="flex items-center justify-end gap-[10px] w-full">
    <form class="search-block" [ngClass]="{ 'search-block-w-full': searchMode }">
      @if (app.isLoggedIn) {
        <input matInput
          type="search"
          #searchInput
          [formControl]="searchFormControl"
          [matAutocomplete]="auto"
          class="search text-black rounded px-3 h-10 text-base font-normal"
          [ngClass]="{ 'full-width': searchMode, 'input-search-hide': !searchMode }"
          [placeholder]="'INPUTS.PLACEHOLDERS.SEARCH' | translate"
          (input)="onSearchInputChange($event)"
        />
      }
      <mat-autocomplete #auto="matAutocomplete">
        @for (task of searchResults; track task._id; let index = $index) {
          <mat-option class="max-w-full w-full" (click)="searchItemSelected(index)">
            <div class="search-item-wrap p-[10px] flex flex-col gap-[10px]">
              <h3 class="!m-0 text-base">{{ task.title }}</h3>
              @if (task.description !== ' ') {
                <p class="!m-0 text-sm overflow-hidden whitespace-nowrap text-ellipsis max-w-full opacity-60">{{ task.description }}</p>
              }
            </div>
          </mat-option>
          <mat-divider></mat-divider>
        }
      </mat-autocomplete>
    </form >
    @if (app.isLoggedIn) {
      <button
        mat-mini-fab
        color="primary"
        [ngClass]="{ 'button-search-hide': !searchMode }"
        onclick="this.blur()"
        (click)="toggleSearchMode()"
        [matTooltip]="(searchMode ? 'HEADER.BUTTON.SEARCH_CLOSE' : 'HEADER.BUTTON.SEARCH') | translate">
        <mat-icon>{{ searchMode ? 'close' : 'search' }}</mat-icon>
      </button>
    }
    @if (!searchMode) {
      @if (router.url === '/boards') {
        <button
          mat-mini-fab
          #createBoardBtn
          color="primary"
          onclick="this.blur()"
          (click)="createBoard()"
          [matTooltip]="'HEADER.BUTTON.NEW_BOARD' | translate">
          <mat-icon>add</mat-icon>
        </button>
      }
      @if (router.url.includes('/boards/')) {
        <button
          mat-mini-fab
          color="primary"
          onclick="this.blur()"
          (click)="createColumn()"
          [matTooltip]="'HEADER.BUTTON.NEW_COLUMN' | translate">
          <mat-icon>post_add</mat-icon>
        </button>
      }
      @if (router.url !== '/boards' && app.isLoggedIn) {
        <button
          mat-mini-fab color="primary"
          [routerLink]="['/boards']"
          onclick="this.blur()"
          [matTooltip]="'HEADER.BUTTON.BOARDS' | translate">
          <mat-icon>apps</mat-icon>
        </button>
      }
      <mat-button-toggle-group class="lang-switcher h-10 text-base items-center" name="lang" aria-label="Choose language">
        @for (lang of app.langList; track lang; let i = $index) {
          <mat-button-toggle
            [checked]="lang === translate.currentLang"
            (click)="app.setLanguage(i)"
            [value]="i"
          >
            {{ lang | uppercase }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    }
    @if (!app.isLoggedIn) {
      <button mat-button (click)="app.openSignUpPage()" class="signup">{{ 'HEADER.BUTTON.SIGNUP' | translate }}</button>
      <button mat-raised-button (click)="auth()" class="login" color="accent">{{ 'HEADER.BUTTON.LOGIN' | translate }}</button>
    }

    <mat-menu #appMenu="matMenu">
      @if (app.isLoggedIn) {
        <div mat-menu-item class="[&>span]:max-w-full" disabled>
          <p class="mat-headline-6 !mb-1 overflow-hidden text-ellipsis">{{ (app.userData$ | async)?.name }}</p>
          <p class="mat-body opacity-50 !mb-2 overflow-hidden text-ellipsis">{{ (app.userData$ | async)?.login }}</p>
        </div>
        <button mat-menu-item (click)="app.openEditProfilePage()">
          <mat-icon>manage_accounts</mat-icon>
          {{ 'HEADER.BUTTON.PROFILE_PAGE' | translate }}
        </button>
      } @else {
        <button mat-menu-item (click)="app.openSignUpPage()">
          <mat-icon>how_to_reg</mat-icon>
          {{ 'HEADER.BUTTON.SIGNUP' | translate }}
        </button>
      }
      <button mat-menu-item class="lang-menu" [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
        {{ 'HEADER.BUTTON.LANGUAGES' | translate }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="auth()" >
        <mat-icon>{{ app.isLoggedIn ? 'logout' : 'login' }}</mat-icon>
        {{ app.isLoggedIn ? ('HEADER.BUTTON.LOGOUT' | translate) : ('HEADER.BUTTON.LOGIN' | translate) }}
      </button>
    </mat-menu>

    <mat-menu #langMenu="matMenu">
      <mat-radio-group aria-label="Choose language">
        @for (lang of app.langList; track lang; let i = $index) {
          <button mat-menu-item (click)="app.setLanguage(i)" [value]="i">
            <mat-radio-button [checked]="lang === translate.currentLang" [value]="i">{{ 'LANGUAGES.' + (lang | uppercase) | translate }}</mat-radio-button>
          </button>
        }
      </mat-radio-group>
    </mat-menu>

    <button mat-icon-button [ngClass]="{ 'hide': searchMode, 'menu-button-hide': !app.isLoggedIn}" aria-label="Menu" [matMenuTriggerFor]="appMenu">
      <mat-icon [class.scale-150]="app.isLoggedIn">{{ app.isLoggedIn ? 'person' : 'more_vert' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
@if (httpService.httpRequestPending) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
