
@media screen and (max-width: 1600px) {
  .section {
    &-powered {
      .tech-list {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  h1 {
    margin: 50px 0 30px !important;
  }

  h2 {
    margin-bottom: 25px !important;
  }

  .section {
    margin-bottom: 100px;
    padding: 0 100px;

    &-dev {
      padding-left: 0;

      h2 {
        margin-top: 30px !important;
      }

      &-img {
        width: 450px;
      }
    }

    &-course {
      &-img {
        max-width: 500px;
      }
    }

    &-pma {
      &-img {
        max-width: 500px;
      }
    }

    &-powered {
      .tech-list {
        margin-top: 50px;
      }
    }
  }
}
