<mat-card [routerLink]="['/boards', id]" class="block h-[210px] w-full cursor-pointer overflow-hidden">
  <mat-card-header class="!p-0">
    <mat-toolbar color="primary" class="h-fit justify-between !py-[5px] !px-[12px]">
      <button
        mat-icon-button
        onclick="this.blur()"
        (click)="editClick($event)"
        [matTooltip]="'BOARDS_PAGE.EDIT_TOOLTIP' | translate"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        onclick="this.blur()"
        (click)="deleteClick($event)"
        [matTooltip]="'BOARDS_PAGE.DELETE_TOOLTIP' | translate"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content class="!flex justify-center items-center h-full">
    <h3 class="whitespace-normal text-center overflow-auto !text-lg !font-medium">{{ title }}</h3>
  </mat-card-content>
</mat-card>
